{% extends 'base.html' %}

{% block head_title %}
Isn't she beautiful?
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweet Me 2!</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet/">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea class="form-control" name="content" placeholder="Your Tweet..."></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    Loading...
</div>

<script type="text/javascript">
    // Handle the submission of a new tweet. The code below will only reload the tweets.
    // Creates an AJAX request.
    let handleTweetCreateFormDidSubmit = function (event) {
        // prevent the default location that was passed through the POST request.
        // originally, in our case, this was to send it to /create-tweet
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm);
        const url = myForm.getAttribute('action');
        const method = myForm.getAttribute('method');
        const xhr = new XMLHttpRequest();

        xhr.open(method, url);
        /* This looks complicated. It's basically telling the Django server to treat the request as an AJAX (asynchronous JavaScript + XML) request. That's all. */
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.onload = function () {
            const serverResponse = xhr.response;
            // refresh the tweets
            const tweetsEl = document.getElementById('tweets');
            loadTweets(tweetsEl);
        }
        xhr.send(myFormData);
    }
    const tweetCreateFormEl = document.getElementById('tweet-create-form');
    // Ask the page to listen for someone hitting a submit button.
    tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit);

    const tweetsEl = document.getElementById('tweets');
    let loadTweets = function (tweetsElement) {
        /* Requesting the data from the django back-end.
        It is going to grab the JSON data. */
        const xhr = new XMLHttpRequest();
        const method = 'GET';
        const url = '/tweets';
        const responseType = 'json';
        xhr.responseType = responseType;
        xhr.open(method, url);
        xhr.onload = function () {
            const serverResponse = xhr.response;
            const listedItems = serverResponse.response;

            // Create a buffered string of all list items.
            var stringBuffer = '';
            for (let i = 0, len = listedItems.length; i < len; i++)
                stringBuffer += formatTweetFunction(listedItems[i]);

            // Put our buffered string onto the page.
            tweetsElement.innerHTML = stringBuffer;
        }
        xhr.send();
    }

    // Load the tweets in the tweets element
    loadTweets(tweetsEl);

    let handleDidLike = function (tweet_id, currentCount) {
        console.log(tweet_id, currentCount);
    }

    let LikeBtn = function (tweet) {
        return `<button class='btn btn-primary' onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Like</button>`;
    }
    /**
    Interpolates a list item and returns it for concatenation.
    **/
    let formatTweetFunction = function (tweet) {
        return `<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-${tweet.id}'><p>${tweet.content}</p> <div class="btn-group">${LikeBtn(tweet)}</div></div>`;
    }
</script>
{% endblock content%}