{% extends 'base.html' %}

{% block head_title %}
Isn't she beautiful?
{% endblock head_title %}

{% block content %}
<h1>Welcome to Tweet Me 2!</h1>

<div id="tweets">
    Replace me
</div>

<script>
    const tweetsElement = document.getElementById('tweets');
    /* Requesting the data from the django back-end.
    It is going to grab the JSON data. */
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = '/tweets';
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
        const serverResponse = xhr.response;
        var listedItems = serverResponse.response;

        var str = '';
        for (let i = 0, len = listedItems.length; i < len; i++) {
            str += listedItems[i]['id'] + ' ' + listedItems[i]['content'] + '<br/>';
        }
        tweetsElement.innerHTML = str;
    }
    xhr.send();
</script>
{% endblock content%}