{% extends 'base.html' %}

{% block head_title %}
Isn't she beautiful?
{% endblock head_title %}

{% block content %}
<h1>Welcome to Tweet Me 2!</h1>

<div id="tweets">
    Loading...
</div>

<script type="text/javascript">
    const tweetsElement = document.getElementById('tweets');
    /* Requesting the data from the django back-end.
    It is going to grab the JSON data. */
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = '/tweets';
    const responseType = 'json';

    /**
    Interpolates a list item and returns it for concatenation.
    **/
    function formatTweetFunction(tweet) {
        return `<div class='mb-4 tweet' id='tweet-${tweet.id}'><p>${tweet.content}</p></div>`;
    }

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
        const serverResponse = xhr.response;
        const listedItems = serverResponse.response;

        // Create a buffered string of all list items.
        var stringBuffer = '';
        for (let i = 0, len = listedItems.length; i < len; i++)
            stringBuffer += formatTweetFunction(listedItems[i]);

        // Put our buffered string onto the page.
        tweetsElement.innerHTML = stringBuffer;
    }
    xhr.send();
</script>
{% endblock content%}